<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="stylesheet" href="/css/feed.css">
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/likeBtn.css">
</head>

<body>
    <div class="nav-bar">
        <h2>MINI LINKEDIN</h2>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/post/new">Create post</a>
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="feed">
        <% for(let post of posts) { %>
        <div class="post-card">
            <h2><%=post.author.name%></h2>

            <p class="headline"><%=post.author.headLine%></p>
            <hr>

            <p class="content"><i><%=post.content%></i></p>

            <p class="date"><%=post.createdAt.toDateString()%></p>

            <form method="post" action="/post/likes/<%=post._id%>">
                <% if(post.likes.some(id => id.toString() === userId.toString())){ %>
                <button class="btn unlike">
                    💙 Unlike
                </button>
                <%}else { %>
                <button class="btn like">
                    ❤️ Like
                </button>
                <% } %>
                <p>Likes: <%=post.likes.length%></p>
            </form>

            <h4>Comments</h4>
            <% for(let comment of post.comments) { %>
            <div class="post-comment">
                <p class="username"><%=comment.user.name%></p>

                <p><%=comment.text%></p>
            </div>
            <% } %>

            <form method="post" action="/post/comment/<%=post.id%>">
                <input type="text" name="comment" placeholder="Add a comment" class="comment-content">
                <button class="btn comment">Add comment</button>
            </form>
        </div>

        <%}%>
        
    </div>

    <script>
        window.addEventListener("pageshow", function (event) {
            if (event.persisted) {
                window.location.reload();
            }
        });
    </script>
</body>

</html>